<div class="hero-section">
    <div class="hero-overlay"></div> <!-- เลเยอร์สำหรับทำให้ภาพมืดลง -->
    <div class="hero-content">
        <h1 class="hero-title">Monitor gold prices closely.</h1>
        <p class="hero-subtitle">ก้าวสู่โลกการลงทุนทองคำ ด้วยข้อมูลที่ครบครันและดีที่สุด</p>
        <a href="#price-today-section" class="hero-button">เริ่มต้นสำรวจราคา</a>
        <p class="hero-note">ข้อมูลเรียลไทม์ กราฟเชิงลึก และบทวิเคราะห์สำหรับคุณ</p>
        <!-- ------ [เพิ่มส่วนนี้เข้ามา] ------ -->
        <div class="hero-time-update">
            อัปเดตล่าสุด: 
            <span class="current-date-display"></span> | 
            <span class="current-time-display"></span>
        </div>
        <!-- -------------------------------- -->

    </div>
</div>